.RetailInfoBG{
    background-image: url(../Assets/backgroundMain.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.TextBG{
    background-color: rgba(130, 179, 194, .75)
}

#icon{
    width: 20px;
    height: 20px;
    color: white;
    filter: brightness(2);
    margin: 0px 5px;
}

p{
    text-align: center;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

a{
    text-decoration: none;
    color: #6DCCEF;
}

.selectedPage{
    border-top: #6DCCEF 4px solid; color: #6DCCEF;
}

h1{
    color: #6dccef; 
    font-weight: bold; 
    font-size: 30px; 
    font-family: 'Inknut Antiqua', serif; 
    -webkit-text-stroke: 2px black;
}