.homeBody {
    background-image: url(../Assets/backgroundMain.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contactBody {
    background-image: url(../Assets/backgroundCoral.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.calendarBody {
    background-image: url(../Assets/backgroundShark.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.privacyBody {
    background-image: url(../Assets/backgroundMain.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

p {
    text-align: center;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.privcyNotice p {
    width: 84.2%;
    margin: auto;
    color: black;
    text-align: start;
    margin-top: auto;
    margin-bottom: auto;
}

.privcyNotice b {
    width: 84.2%;
    margin: auto;
    line-height: 50px;
}

#icon {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

.headerBackground {
    background: linear-gradient(rgba(18, 63, 84, 0.7), rgba(18, 63, 84, 1));
    width: 100%;
    height: fit-content;
    margin-bottom: 1vh;
}

.headerBackgroundSM img {
    max-width: 512px;
}

.nav {
    padding: 0;
    height: 182px;
    width: 50%;
}

.navLogo {
    margin-left: auto;
    margin-right: auto;
}

.navBar {
    width: 100%;
    font-size: smaller;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
    border-spacing: 10px;
    padding-top: 15px;
}
.navBar a{

}

.navPageLink {
    text-decoration: none;
    border-top: #6DCCEF 4px solid;
}

.navPageLink p {
    border-top: #6DCCEF 4px transparent;
}

.selectedPage {
    border-top: #6DCCEF 4px solid;
    color: #6DCCEF;

}

.navPageLink p:hover {
    border-top: #6DCCEF 4px solid;
}

.bodyMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 84.2%;
}

.calendarMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 84.2%;
    height: 75vh;
    background-color: rgba(130, 179, 194, .75);
    margin: 10px auto;
}

.calendarMain .row {
    width: 60%;
}

.calendarMain h1 {
    text-align: center;
    color: #6DCCEF;
    -webkit-text-stroke: 2px black;
    font-family: 'Inknut Antiqua', serif;
}

.calendarMain p {
    font-family: 'Inika', serif;
    text-align: start;
    text-indent: 50px;
    color: black;
    font-size: 20px;
}

.calendarMain .p2 {
    font-family: 'Inika', serif;
    text-align: center;
    margin-top: 15px;
    color: black;
}

.carousel {
    margin: 10px;
}

.bodyMain h1 {
    font-family: 'Inknut Antiqua', serif;
    font-size: calc(10px + 1.75vw);
    text-align: center;
}

.sloganBox {
    width: 100%;
    height: fit-content;
    min-height: 100px;
    background-color: rgba(130, 179, 194, .75);
    margin-top: 10px;
    align-items: center;
}

.contactBox {
    width: 84.2%;
    height: 75vh;
    background-color: rgba(130, 179, 194, .75);
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.contactTextBoxes {
    width: 100%;
}

.contactMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.contactText {
    margin-top: 5px;
    margin-bottom: 5px;
}

.privacyMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.privacyBox {
    width: 80%;
    height: fit-content;
    background-color: rgba(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}


.imgBox {
    margin: 10px 0px;
    width: 100%;
}

.largeImg {
    padding-left: 0;
    width: auto;
    display: flex;
    justify-content: center;
}

.largeImg img {
    width: 100%;
    height: 100%;
}

.smallImgs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 0;
    row-gap: 15px;
}

.mainBox {
    height: fit-content;
    width: 100%;
    background-color: rgba(130, 179, 194, .75);
    display: flex;
    justify-content: center;
    margin: 2% 0px;
    row-gap: 15px;
}

.mainBox h1 {
    color: #6DCCEF;
    -webkit-text-stroke: 2px black;
    font-family: 'Inknut Antiqua', serif;
    font-size: calc(48px + 1.5vw);
    align-self: center;
    justify-content: center;
}

.mainBox p {
    font-family: 'Inika', serif;
    text-indent: 50px;
    color: black;
    font-size: calc(14px + .5vw);
    text-align: left;
    margin-bottom: 10px;
}

.toAction {
    text-align: center !important;
    text-indent: 0 !important;
}

.toAction span {
    color: #6DCCEF
}

.footerNavBackground {
    background: linear-gradient(rgba(18, 63, 84, 1), rgba(18, 63, 84, 0.7));
    width: 100%;
    height: fit-content;
    padding-bottom: 25px;
    display: grid;
    grid-auto-flow: column;
    margin-top: 1vh;
}

.logoCol {
    margin-top: 15px;
    margin: auto;
    text-align: center;
}

.submitCol {
    margin-top: 15px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

.submitCol .row {
    width: 100%;
    max-width: 331px;
    min-width: 300PX;
}

.submitCol button {
    background-color: #3092C0;
    border-radius: 5px;
    border: none;
}


.contactCol {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.copyright {
    font-size: smaller;
    width: 100%;
}

.Hours {
    font-family: 'Inknut Antiqua', serif;
    border-style: solid;
    border-color: black;
    border-width: .5px;
    font-size: calc(18px);
}


.RetailInfoBG {
    background-image: url(../Assets/backgroundMain.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.TextBG {
    background-color: rgba(130, 179, 194, .75);
    padding: 2%
}

#icon {
    width: 1.5vh;
    height: auto;
    color: white;
    filter: brightness(2);
    margin: 0px 5px;
}

p {
    text-align: center;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

a {
    text-decoration: none;
    color: #6DCCEF;
}

.selectedPageSM {
    text-decoration: overline #6DCCEF 4px solid;
    color: #6DCCEF;
}

.RetailInfoBG h1 {
    color: #6dccef;
    font-weight: bold;
    font-size: 34px;
    font-family: 'Inknut Antiqua', serif;
    -webkit-text-stroke: 2px black;
}

.headerBackgroundSM {
    background: linear-gradient(rgba(18, 63, 84, 0.7), rgba(18, 63, 84, 1));
    width: 100%;
    height: fit-content;
}

@media(max-width: 1439px) {

    .smallImgs {
        display: none;
    }

}

@media(max-width: 1024px) {
    .logoCol {
        display: none;
    }

    .imgCol {
        display: none;
    }

}

@media (max-width: 768px) {
    .footerNavBackground {
        grid-auto-flow: row;
    }

    .calendarMain p,
    .p2 {
        display: none;
    }

    .calendarMain .row {
        width: 100%;
    }

    .Hours {
        border-width: 0;
    }

}


@media(max-width: 425px) {
    .copyright {
        justify-content: center;
    }

    .contactCol p {
        padding: 0;
        width: 90%;
    }

    .interiorPic {
        display: none;
    }

    input#subscribeInput {
        width: 75%;
    }

    button#submitBtn {
        width: 75%;

    }

    .submitRow {
        display: flex;
        justify-content: center;
    }

    .subscribeRow {
        display: flex;
        justify-content: center;
    }
}